$color-primary:#F8E907;
$color-lighter:#F9EE39;
$color-darker:#bcb107;
$color-white: #fff;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-black: #000;
$color-grey-light-1: #f7f7f7;
$color-green-light:#95f542;
$color-orange: #ff7730;

$color-secondary-green-light:#41e046;
$color-secondary-green-dark:#2da131;
$color-secondary-blue-light:#3fe0d8;
$color-secondary-blue-dark:#2ea39d;

$gutter-horizontal: 7rem;
$gutter-horizontal-small: 5.5rem;