.u-center-text{
    text-align: center;
}

.u-margin-buttom-80{
    margin-bottom: 8rem;
}

.u-margin-top-80{
    margin-top: 8rem;
}

.u-margin-top-40{
    margin-top: 4rem;
}

.u-padding-top-300{
    padding-top: 30rem;
}

.u-margin-buttom-2{
    margin-bottom: 2rem;
}

.u-margin-buttom-minus-25{
    margin-bottom: -2.5rem;
}